* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a1920;
}

#clock {
    position: relative;
    width: 500px;
    height: 500px;    
    border-radius: 50%;
    background-color: #0a1920;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, .05),
                inset 0 -15px 15px rgba(255, 255, 255, .05),
                0 -15px 15px rgba(0, 0, 0, .3),
                inset 0 -15px 15px rgba(0, 0, 0, .3);
}

#clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: translateX(-50%);
}

#hour-hand {
    width: 8px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}

#minute-hand {
    width: 5px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}

#second-hand {
    width: 4px;
    height: 230px;
    background-color: red;
    border-radius: 25%;
}